.full-width {
  width: 100%;
}

table {
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-column-action {
  min-width: 30px;
  max-width: 2% !important;
}
