<h1 mat-dialog-title>Passwort ändern</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>ID (disabled)</mat-label>
      <input matInput disabled [value]="data.userid" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Altes Password</mat-label>
      <input
        matInput
        #oldpw
        maxlength="128"
        placeholder="Altes Password"
        formControlName="old_password"
        required
        type="password"
      />
      <mat-hint align="end">{{ oldpw.value.length }} / 128</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Neues Password</mat-label>
      <input
        matInput
        #newpw
        maxlength="128"
        placeholder="Neues Password"
        formControlName="new_password"
        required
        type="password"
        (blur)="checkPasswords()"
      />
      <mat-hint align="end">{{ newpw.value.length }} / 128</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Neues Password wiederholen</mat-label>
      <input
        matInput
        #newpw2
        maxlength="128"
        placeholder="Neues Password"
        formControlName="new_password2"
        required
        type="password"
        (blur)="checkPasswords()"
      />
      <mat-hint align="end">{{ newpw2.value.length }} / 128</mat-hint>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Abbrechen</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="formSubmit()"
    [disabled]="isSumbiting"
  >
    Speichern
  </button>
</div>
