<mat-toolbar class="app-toolbar" color="primary">
  <span>{{ true ? "DokumentD" : "D" }}</span>
  <button mat-button [routerLink]="['/search']" [disabled]="!isLoggedIn">
    Suche
  </button>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/settings']" [disabled]="!isLoggedIn">
    Einstellungen
  </button>
  <button mat-button *ngIf="isLoggedIn" (click)="openOwnUserDialog()">
    {{ displayName }}
  </button>
  <button
    mat-mini-fab
    [disabled]="!isLoggedIn || isCurrentUploading"
    [class.spinner]="isCurrentUploading"
    (click)="openFileDialog()"
  >
    <mat-icon>publish</mat-icon>
  </button>
</mat-toolbar>
<input type="file" hidden (change)="handle($event)" accept=".pdf" />
